doctype html
html
	head
		meta(
			charset="utf8"
		)
		title.
			flpkg
		meta(
			name="viewport"
			content="width=device-width,initial-scale=1"
		)
		link(
			rel="stylesheet"
			href="res/main.css"
		)
	body
		header
			h1 flpkg
		main
			p
				a(href="https://github.com/flpkg") See GitHub organization for more information
